.fv-wrapper#particles-js {
  position: sticky;
  top: 0;
  background-color: black;
  height: 100vh;
}

.fv-text {
  pointer-events: none;
  color: cl(white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  font-family: "Dancing Script", "Cinzel", serif;
  .myname {
    letter-spacing: 4px;
    font-size: 6vw;
    text-align: center;
  }
  .worker_type {
    font-size: 6vw;
    text-align: center;
  }
}
